.grid-container {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }


.grid-container .events-parades{
    background-color: #b890da;;
    margin-left:5px;
    margin-right:5px;
}

.grid-container .users{
    display:grid;
    background-color: #b890da;;
    margin-left:5px;
    margin-right:5px;
}

.grid-container .users .add-user{
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #ddd;
}

.grid-container .equipment{
    background-color: #b890da;;
    margin-left:5px;
    margin-right:5px;
}