.grid-container {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    display: grid;
    grid-template-columns: 15% 85%;
  }
.grid-container .right-side {
    display: grid;
    grid-template-columns: 20% 35% 45%;
    grid-template-rows: auto auto;
    padding-right: 2px;
}
.grid-container .right-side .register-box-all {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}
.grid-container .right-side .register-box-all .add-cadet-to-register {
  padding-top: 10px;
}
.grid-container .right-side .register-box-all .remove-cadet-from-register {
  padding-top: 10px;
}
.grid-container .right-side .register-box-all .search-for-other-cadet {
  padding-top: 10px;
}

.lesson_details{
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  padding-left: 10px;
  padding-right:10px;
}

.modify_lesson_details{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding-left: 10px;
  padding-right:10px;
}

.modify_lesson_details .submit_button{
  grid-column: span 2;
}

.modify_lesson_details .input_error_handeling{
  grid-column: span 2;
}

.modify_lesson_details .display_current_owner{
  grid-column: span 2;
}

.modify_lesson_details .livesearch{
  grid-column: span 2;
}

button {
  grid-column: span 2;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #6b86c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: solid;
}

button:hover {
  background-color: #4c6baf;
}

button:disabled {
  color: red;
}