body{
    display: center;
    align-content: center;
}
body .container{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: auto;
}
body .h1{
    margin: auto;
}
body .container .left{
    display: grid;
    border-right: thin solid black;
    width: 350px;
    border-top: thin solid black;
}
img{
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}
body .container .right{
    column-width: 1370px;
    border-top: thin solid black;
}
a{
    margin:auto;
}
body .container .right .table, th{
    border:1px solid black;
}
body .container .right .table, td {
    border:1px solid black;
}